"on":
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      [
        { name: "Checkout repo", uses: "actions/checkout@v4" },
        { name: "Setup Docker Buildx", uses: "docker/setup-buildx-action@v2" },
        {
          name: "Login to docker hub",
          uses: docker/setup-buildx-action@v2,
          with:
            {
              username: "${{ secrets.DOCKERHUB_USERNAME }}",
              password: "${{ secrets.DOCKERHUB_TOKEN }}",
            },
        },
        {
          name: "Build and push Docker image",
          uses: "docker/build-push-action@v4",
          with:
            {
              context: ".",
              file: "./Dockerfile",
              push: true,
              tags: "${{ secrets.IMAGE_NAME }}:latest",
            },
        },
      ]
